#task-grid{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskform, taskList" ;
}

#taskform{
        grid-area: "taskform";
        max-width: 300px;
        margin: 0 auto;
        label{
            display:block;
            width:100%;
        }
    }
    
#taskList{
    grid-area: "taskList";
    }

