#task-grid{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskbox, taskList" ;
}

    #taskList{
        grid-area: "taskbox";
        max-width: 300px;
        margin: 0 auto;
        label{
            display:block;
            width:100%;
        }
    }
#taskList{
    grid-area: "taskList";
}

